<h1>Combat en cours</h1>

<h2>PNJ</h2>
<p>Nom : <%= @pnj.nom %></p>
<p>Vie : <span id="pnj-vie"><%= @pnj.vie %></span></p>
<p>Force : <%= @pnj.force %></p>

<h2><%= @personnage.nom %></h2>
<p>Vie : <span id="user-vie"><%= @personnage.attributes['vie'] %></span></p>
<p>Force : <%= @personnage.attributes['force'] %></p>

<p id="resultat"></p>

<%= form_tag(attaquer_quete_etape_pnj_quete_etape_path(quete_id: @quete.id, id: @etape.id, pnj_id: @pnj.id, personnage_id: params[:personnage_id]), method: :post) do %>
  <%= submit_tag 'Attaquer', class: 'btn-attaque' %>
<% end %>

