<h1>Combat</h1>

<!-- Formulaire pour créer un nouveau combattant -->
<%= form_with(model: @combatant, url: traiter_combat_etape_quete_etape_path, method: :post) do |form| %>
  <%= form.label :nom, "Nom du combattant" %>
  <%= form.text_field :nom %>

  <%= form.label :force, "Force du combattant" %>
  <%= form.number_field :force %>

  <%= form.label :vie, "Vie du combattant" %>
  <%= form.number_field :vie %>

  <%= form.submit "Créer le combattant" %>
<% end %>
