<!DOCTYPE html>
<html>
<head>
  <title>Your Application</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<% if user_signed_in? %>
  <%= link_to 'Déconnexion', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Inscription', new_user_registration_path %>
  <%= link_to 'Connexion', new_user_session_path %>
<% end %>
  
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  
  <%= yield %>
</body>
</html>
