<h1>Modifier la Question</h1>

<%= form_with(model: [@quete, @question], url: quete_etape_question_path(@quete, @etape, @question), method: :patch) do |form| %>
  <%= form.label :content, "Contenu de la question" %>
  <%= form.text_area :content, rows: 3 %>

  <%= form.label :reponses, "Réponses" %>
  <% @question.reponses.each_with_index do |reponse, index| %>
    <div>
      <%= form.fields_for :reponses, reponse do |reponse_form| %>
        <%= reponse_form.text_field :contenu, placeholder: "Réponse #{index + 1}" %>
        <%= reponse_form.check_box :correcte %>
      <% end %>
    </div>
  <% end %>

  <%= form.submit "Modifier la question" %>
<% end %>
