<%= link_to "Retour", quete_etape_question_index_path(@quete, @etape) %>

<h1>Liste des questions pour l'étape : <%= @etape.titre %></h1>

<% @questions.each do |question| %>
  <h2><%= question.content %></h2>
  <ul>
    <% question.reponses.each do |reponse| %>
      <li>
        <% if reponse.correcte? %>
          <%= reponse.contenu %>
          <i class="fa-solid fa-check"></i>
        <% else %>
          <%= reponse.contenu %>
        <% end %>
      </li>
    <% end %>
  </ul>
  
  <%= link_to "Modifier", edit_quete_etape_question_path(@quete, @etape, question) %>
  <%= link_to "Supprimer", new_quete_etape_question_path(@quete, @etape, question), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cette question ?" } %>
<% end %>

<%= link_to "Ajouter une question", new_quete_etape_question_path %>
