<h1>Nouvelle Question</h1>

<%= form_with(model: [@quete, @question], url: quete_etape_question_index_path(@quete), method: :post) do |form| %>
  <%= form.label :content, "Contenu de la question" %>
  <%= form.text_area :content, rows: 3 %>

  <%= form.label :reponses, "Réponses" %>
  <% 4.times do |index| %>
    <div>
      <%= form.fields_for :reponses, @question.reponses[index] || @question.reponses.build do |reponse_form| %>
        <%= reponse_form.text_field :contenu, placeholder: "Réponse #{index + 1}" %>
        <%= reponse_form.check_box :correcte %>
      <% end %>
    </div>
  <% end %>

  <%= form.submit "Créer la question" %>
<% end %>
