<style>
  .personnage-details {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  .personnage-details h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    align-items: center;
    items-align: center;
  }

  .personnage-details .detail {
    margin-bottom: 10px;
  }

  .personnage-details strong {
    font-weight: bold;
  }

  .personnage-actions {
    margin-top: 20px;
  }

  .personnage-actions .btn {
    margin-right: 10px;
  }
</style>

<div class="actions">
<%= link_to "Retour", personnages_path, class: 'btn btn-primary' %>

<div class="personnage-details">
  <h1>Détails du personnage</h1>

  <div class="detail">
    <strong>Nom :</strong> <%= @personnage.nom %>
  </div>

  <div class="detail">
    <strong>Force :</strong> <%= @personnage.force %>
  </div>

  <div class="detail">
    <strong>Vie :</strong> <%= @personnage.vie %>
  </div>

  <div class="detail">
    <strong>XP :</strong> <%= @personnage.xp %>
  </div>

  <div class="detail">
    <strong>Agilité :</strong> <%= @personnage.agilite %>
  </div>

  <div class="detail">
    <strong>Charisme :</strong> <%= @personnage.charisme %>
  </div>

  <div class="detail">
    <strong>Intelligence :</strong> <%= @personnage.intelligence %>
  </div>

  <div class="detail">
    <strong>Endurance :</strong> <%= @personnage.endurance %>
  </div>

  <div class="detail">
    <strong>Chance :</strong> <%= @personnage.chance %>
  </div>

  <div class="personnage-actions">
    <%= link_to 'Modifier', edit_personnage_path(@personnage), class: 'btn btn-primary' %>
    <%= link_to 'Supprimer', personnage_path(@personnage), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer ce personnage ?' }, class: 'btn btn-danger' %>
  </div>
</div>
