<%= link_to "Retour", quetes_path %>

<h1>Modifier une quête</h1>

<%= form_with model: @quete, url: quete_path(@quete), method: :patch do |form| %>
  <div>
    <%= form.label :titre %>
    <%= form.text_field :titre %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <%= form.submit "Modifier" %>
<% end %>
