<h1>Mon profil</h1>

<p>Email du joueur : <%= @joueur.email %></p>
<p>Role : <%= @joueur.role %></p>
<% if @joueur.role == 'player' %>
<p>XP actuelle: <%= @joueur.xp || 0 %></p>
<p>Vie actuelle : <%= @vie || 0 %></p>
<p>Force actuelle : <%= @force || 0 %></p>
<p>Nombre de quêtes terminées : <%= @joueur.terminer.count %></p>

<h5>Mes éléments :</h5>
<table>
  <thead>
    <tr>
      <th>Force</th>
      <th>Vie</th>
      <th>XP Plus</th>
      <th>Type d'élément</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <% @elements.each do |element| %>
      <tr>
        <td><%= element.force %></td>
        <td><%= element.vie %></td>
        <td><%= element.xpplus %></td>
        <td><%= element.element_type_label %></td>
        <td><%= image_tag element.image, class: "element-image" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>Nombre de quêtes créées : <%= @joueur.quetes.count %></p>
<p>Nombre de joueurs : <%= @players.count %></p>
<% end %>
