<h1>Modifier la décision pour l'étape <%= @etape.titre %></h1>

<%= form_with(model: [@quete, @etape, @decision], url: quete_etape_decision_path(@quete, @etape, @decision), method: :patch) do |form| %>
  <% if @decision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@decision.errors.count, "error") %> prohibited this decision from being saved:</h2>

      <ul>
      <% @decision.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :is_questionnaire %>
    <%= form.check_box :is_questionnaire %>
  </div>

  <div class="actions">
    <%= form.submit "Enregistrer" %>
  </div>
<% end %>
